.build/*
build/*
test/dump
docs/doxygen
docs/_html
doc_env/*

*.DS_Store
*.log
*.pyc
*.gprof

settings.mk
mysql.mk
hyrise_server.pid
hyrise_server.port
TAGS

coverage.xml
sloccount.sc

benchmark_data
*.swp
tools/clang34*
Hyrise.config
Hyrise.creator
Hyrise.files
Hyrise.includes
*.user
